.feature-list h3.icon_black:before {
	color: #000 !important;
	background: none;
}

.style3 form input[type="date"], .style3 form input[type="text"],
	.style3 form input[type="email"], .style3 form input[type="password"],
	.style3 form select, .style3 form textarea {
	background: #fff;
	box-shadow: inset 0px 0px 1px 0px #0D0D0D;
	border: 0.09em solid #DDD;
	color: #555;
}

.modal .container {
	width: 90%;
}

.feature-list p {
	margin: 5px 0;
}

/*Twitter*/
@media screen and (min-width: 553px) {
	.box.post-excerpt .image.left {
		position: relative;
		top: 0.5em;
		width: 3em;
	}
	.image.left {
		float: left;
		margin: 0 1em 1em 0;
	}
	.box.post-excerpt p {
		margin-left: .5em;
	}
}